# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/

# Environment
.env
*.env
.env.*

# Virtual environments
venv/
env/
.venv/

# Django
*.log
db.sqlite3
media/
staticfiles/
local_settings.py

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Pytest
.pytest_cache/
.cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# JetBrains IDEs
.idea/

# Other
*.sqlite3
*.pot
*.pyc

# Node (if using frontend within project)
node_modules/
